<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dealermotor?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
   <!-- <property name="show_sql">true</property> -->
  
     <mapping class="Model.Kategorimotor"/>
     <mapping class="Model.Customer"/>
     <mapping class="Model.Detailpembelian"/>
     <mapping class="Model.Detailpenjualan"/>
     <mapping class="Model.Detailretur"/>
     <mapping class="Model.Feedback"/>
     <mapping class="Model.Gaji"/>
     <mapping class="Model.Karyawan"/>
     <mapping class="Model.Pembelian"/>
     <mapping class="Model.Penjualan"/>
     <mapping class="Model.Retur"/>
     <mapping class="Model.Stokdigudang"/>
     <mapping class="Model.Supplier"/>
     
  </session-factory>
</hibernate-configuration>
